@font-face{
 font-family:'alarm clock';
 src: url('alarm-clock.ttf');
}

:root {
    --background: rgb(0, 0, 0);
    --primary: rgb(255, 255, 255);
    --secondary: rgb(255, 0, 0);
}

/* @media queries: */
/*SMARTPHONE*/
    /*portrait*/
@media screen and (max-width: 320px){
    .wrap {
        display: flex;
        flex-direction: column;
    }
}
    /*landscape*/
@media screen and (min-width: 480px){
    .wrap {
        display: flex;
        flex-direction: row;
    }
}
body {
    background-color: var(--background);
    color: var(--secondary);
}
h1 {
    color: var(--primary);
}
h2 {
    border: solid var(--primary) 2px;
    max-width: 50px;
    text-align: center;
    border-radius: 5px;
    font-family: 'alarm clock', sans-serif;
}

button {
    font-family: 'alarm clock', sans-serif;
    background-color: var(--background);
    color: var(--primary);
    border: solid 2px var(--primary);
    border-radius: 5px;
    margin-top: 10px;
}

.home, .guest {
    margin: 0 auto;
    text-align: center;
}

#home-score, #guest-score {
    max-width: 100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }